.left{
    background-color: rgb(255, 230, 0);
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;

}
.toji{
    background: url('img/toji.png')
    position: left;

}
.right{
    background: url('img/pexels-johnnoibn-685557.jpg');
    position: fixed;
    width: 87%;
    height: 100%;
    top: 0;
    right: 0;

}


.ground{
    background-color: rgb(255, 217, 0);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px; 
}

.rocket{
    position: absolute;
    left: 50%;
    bottom: 30px;
    width: 350px;
    height: 500px;
    background: url('img/gojooo-removebg-preview.png') repeat;
    transition: bottom 1500ms;
}

/*.hollow{
    
}

.purple{

}
*/
.rocket.flying{
    bottom: 600px;
}

/*.hollow.show{

}
*/
body.body-state3 .rocket,
body.body.state4 .rocket{
    bottom: 400px;
}

a.button{

}
body.body-state2 .rocket{
    background-image: url('img/toji-removebg-preview.png');
    width: 500px;
    height: 500px;
    margin-left: -133px;
}

body.body-state4 .rocket{
    background-image: url('img/tojig.png');
    width: 500px;
    height: 390px;
}
body.body-state5 .rocket{
    background-image: url('img/tojig.png');
    width: 500px;
    height: 390px;
}
.state1,
.state2,
.state3,
.state4,
.state5{
    display: none;
}
body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}

a[

]



