	h1{
		font-family:Verdana, Geneva, Tahoma, sans-serif;
		font-size: 22px;
		font-style: italic;
		font-weight: 100;
		text-align: left;
		text-decoration: underline;
		text-indent: 30px;
		text-transform: lowercase;
		color: red;
		letter-spacing: 10px;
		line-height: 30px;
}

	p {
		color:white;
		font-size: 18px;
	}
body{
		color:white;
		background-image: url("kirjasto.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}



span {
	  background-color: black;
	}

h2{
	color:white;
	font-size: 30px;
	font-weight:bold;
	font-family: Helvetica, Serif;
	text-align: center;
}
h3{
	color:white;
	font-size: 20px;
	font-weight:bold;
	text-align: center;
	font-family: Helvetica, serif;
	text-transform: capitalize;
}
li{
	color: white;
	font-family: helvetica, serif;
	text-align: center;
	font-size: 18px;
	List-style-type: square;
}

p{
	color: white;
	font-family: helvetica, serif;
	text-align: center;
	font-size: 18px;
}



	
.vasen img{
	position: relative;
	left: 46%;
	bottom: 170px;
}

.vasen2 img{
	display: block;
	float: left;
	width: 50%;
	height: 160px;
}

a{
	color: #42a795;
}
a:hover, a:focus {
	color: #637471;
}
.calm {
	text-align: center;
	padding-left: 280px;
	padding-right: 280px;
	padding-bottom: 00px;
}
.maito {
	margin:auto;
    border: 3px solid black;
	padding: 20px;
    width: 250px;
    height: 490px;
    text-align: center;
	line-height: 1.4;
    font-size: 15px;
    font-family: verdana, geneva, tahoma, sans-serif;
}
.maito2 {
    border: 3px solid black;
    width: 160px;
    height: 160px;
    text-align: left;
    font-size: medium;
	display: block;
    font-family: verdana, geneva, tahoma, sans-serif;
}